* {
    box-sizing: border-box;
}

.encabezado ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-style: inherit;
    font-stretch: semi-expanded;
    font-size: 20px;
    background-color:rgb(191, 101, 243);
    text-decoration: underline;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.buscador {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: start;
    font-size: normal;
    padding-right: 30px;
    padding: 10px;
    border: solid 3px rgb(227, 184, 255);
    width: 160px;
    margin-left: 1250px;
   
}

.titulos {
    display: flex;
    font-size: 20px;
    font-style: inherit;
    background-color: rgb(227, 184, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.PeliculasMasRecientes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: solid 3px rgb(227, 184, 255);
    padding: 20px;
}

.PeliculasMasRecientes img {
    width: 190px;
}

.PeliculasMasVistas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: solid 3px rgb(227, 184, 255);
    padding: 20px;
}

.PeliculasMasVistas img {
    width: 190px;
}

.SeriesMasRecientes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: solid 3px rgb(227, 184, 255);
    padding: 20px;
}

.SeriesMasRecientes img {
    width: 190px;
}

.SeriesMasVistas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: solid 3px rgb(227, 184, 255);
    padding: 20px;
}

.SeriesMasVistas img {
    width: 190px;
}

.contactanos ul{
list-style: none;
display: flex;
flex-direction: row;
justify-content: space-around;
font-style: inherit;
font-stretch: semi-expanded;
font-size: normal;
background-color:rgb(191, 101, 243);
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


footer {
    font-size: 15px;
    font-family: Arial;
    color: black;
    width: 100%;
}

