* {
    box-sizing: border-box;
}

body{
    background-color: black;
}

.logo img{
   width: 100px;
}

.encabezado ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-style: inherit;
    font-stretch: semi-expanded;
    font-size: 20px;
    font-weight: bolder;
    background-color: rgb(191, 101, 243);
    font-family: 'Arial Narrow Bold';
    color: white;
    height: 130px;
    align-items: center;
    padding: 0%;
}

.buscador {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-size: small;
    color: grey;
    border: solid 3px rgb(227, 184, 255);
    background-color: white;
    height: 40px;
    padding: 20px;
}

.buscador img {
    width: 20px;
}

.titulos {
    display: flex;
    font-size: 23px;
    font-style: normal;
    background-color: rgb(227, 184, 255);
    font-family: montserrat;
    color: rgb(41, 39, 39);
    padding: 10PX;
}

.fondo{
    background-color:rgb(191, 101, 243) ;
}

.footer ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-style: inherit;
    font-stretch: semi-expanded;
    font-size: normal;
    background-color:rgb(191, 101, 243);
    padding: 15px;
    color: rgb(70, 70, 70);
    font-weight: bolder;
    font-family: 'Arial Narrow Bold';
    text-decoration: none;
}
 
.ayuda {
    display: flex;
    justify-content: center;
    background-color: rgb(191, 101, 243);
}

.ayuda img {
    width: 50px;
    height: 50px;
    padding: 10px;

}

.nombres {
    font-size: 13px;
    font-family: Arial;
    color: black;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
}

.PeliculasMasRecientes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: solid 3px rgb(227, 184, 255);
    padding: 20px;
}

.PeliculasMasRecientes img {
    width: 190px;
    height: 285px;
}

.PeliculasMasVistas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: solid 3px rgb(227, 184, 255);
    padding: 20px;
}

.PeliculasMasVistas img {
    width: 190px;
    height: 285px;
}

.SeriesMasRecientes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: solid 3px rgb(227, 184, 255);
    padding: 20px;
}

.SeriesMasRecientes img {
    width: 190px;
    height: 285px;
}

.SeriesMasVistas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: solid 3px rgb(227, 184, 255);
    padding: 20px;
}

.SeriesMasVistas img {
    width: 190px;
    height: 285px;
}



/* Aca empieza descripcion KB */

.descripKB {
    display: flex;
    flex-direction: row;
   
}

.kissingbooth {
    color: green;
    font-weight: bold;
    font-size: medium;
}

.listKB {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;    
    padding: 20px;
    color: white;
}

.parrafodescripcion {
    color: white;
}



/* Ac치 empieza Generos */

.GenerosAccion{
    display: flex;
    border: solid 3px rgb(227, 184, 255); 
    padding: 10px;
    align-items: center;
    font-size: normal;
    color: white;
    justify-content: flex-start;
    width: 13.5%;
    
}

.PeliculasDeAccion{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: solid 3px rgb(227, 184, 255);
    padding: 20px;
}

.PeliculasDeAccion img{
    width: 190px;
    height: 285px;
}

.SeriesDeAccion{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: solid 3px rgb(227, 184, 255);
    padding: 20px;
}

.SeriesDeAccion img {
    width: 190px;
    height: 285px;
}



/* Ac치 empieza Series y Peliculas */

.PopularesEniChill {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: solid 3px rgb(227, 184, 255);
    padding: 20px;
}

.PopularesEniChill img {
    width: 190px;
    height: 285px;
}

.Tendencias {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: solid 3px rgb(227, 184, 255);
    padding: 20px;
}

.Tendencias img {
    width: 190px;
    height: 285px;
}

.NuevosLanzamientos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: solid 3px rgb(227, 184, 255);
    padding: 20px;
}

.NuevosLanzamientos img {
    width: 190px;
    height: 285px;
}

.Documentales {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: solid 3px rgb(227, 184, 255);
    padding: 20px;
}

.Documentales img {
    width: 190px;
    height: 285px;
}

.FavoritosDeSiempre {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: solid 3px rgb(227, 184, 255);
    padding: 20px;
}

.FavoritosDeSiempre img {
    width: 190px;
    height: 285px;
}



/* Aca empieza Contactenos*/

.contactenos {
    font-family: Arial;
    color: white;
}

.mensaje {
    block-size: 200px;
    width: 478px;
}

.cuadrado {
    block-size: 20px;
    width: 250px;
}



/* Aca empieza Terminos y condiciones */

 .terminos {
    font-family: Arial;
    color: white;
    opacity: normal;
}

.terminos1 {
    text-align: justify;
    font-size: 30px;
    line-height: 8px;
}

.terminos2 {
    text-align: justify;
    font-size: 20px;
    line-height: 24px;
}

.terminos3 li{
    text-align: justify;
    font-size: 17px;
    line-height: 22px;
}



/* Aca empieza Ayuda */

.preguntasfrecuentes {
    display: flex;
    border: solid 3px rgb(227, 184, 255); 
    padding: 10px;
    align-items: center;
    font-size: medium;
    color: white;
    justify-content: flex-start;
    width: 19%;
}


.preguntas {
  list-style-type: square; 
  font-family: Arial;
  color: white;
  opacity: normal;
  font-size: larger;
}



























@media only screen and (max-width: 420px) {

    .logo img{
        width: 38px;
     }
 
    .encabezado ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-style: inherit;
        font-stretch: semi-expanded;
        font-size: 6px;
        font-weight: bolder;
        background-color: rgb(191, 101, 243);
        font-family: 'Arial Narrow Bold';
        color: white;
        height: 50px;
        align-items: center;
        padding: 0%;
    }

    .buscador {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        font-size: 5px;
        color: grey;
        border: solid 1px rgb(227, 184, 255);
        background-color: white;
        height: 9px;
        padding: 2px;
    }
   
    .buscador img {
        width: 5px;
    }

    .titulos {
        display: flex;
        font-size: 10px;
        font-style: normal;
        background-color: rgb(227, 184, 255);
        font-family: montserrat;
        color: rgb(41, 39, 39);
        padding: 6PX;
    }
    
    .fondo{
        background-color:black ;
    }
    
    .footer ul{
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-style: inherit;
        font-stretch: semi-expanded;
        font-size: 7px;
        background-color:rgb(227, 184, 255);
        padding: 5px;
        color: rgb(70, 70, 70);
        font-weight: bolder;
        font-family: 'Arial Narrow Bold';
        text-decoration: none;
    }

    .ayuda {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
    }
    
    .ayuda img {
        width: 50px;
        height: 50px;
        padding: 10px;
    
    }
        
    .nombres {
        font-size: 6px;
        font-family: Arial;
        color: black;
        width: 100%;
        background-color: rgb(227, 184, 255);
        display: flex;
        justify-content: center;
        padding: 5px;
    }
    
    .PeliculasMasRecientes {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border: solid 3px rgb(227, 184, 255);
        padding: 10px;
    }
    
    .PeliculasMasRecientes img {
        width: 100px;
        height: 140px;
    }
    
    .PeliculasMasVistas {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border: solid 3px rgb(227, 184, 255);
        padding: 10px;
    }
    
    .PeliculasMasVistas img {
        width: 100px;
        height: 140px;
    }
    
    .SeriesMasRecientes {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border: solid 3px rgb(227, 184, 255);
        padding: 10px;
    }
    
    .SeriesMasRecientes img {
        width: 100px;
        height: 140px;
    }
    
    .SeriesMasVistas {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border: solid 3px rgb(227, 184, 255);
        padding: 10px;
    }
    
    .SeriesMasVistas img {
        width: 100px;
        height: 140px;
    }

    

        /* Ac치 empieza Generos */

    .GenerosAccion{
        display: flex;
        border: solid 2px rgb(227, 184, 255); 
        padding-left: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        align-items: center;
        font-size: 10px;
        color: white;
        justify-content: flex-start;
        width: 25%;
    }

    .PeliculasDeAccion{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border: solid 3px rgb(227, 184, 255);
        padding: 20px;
    }

    .PeliculasDeAccion img{
        width: 100px;
        height: 140px;
    }

    .SeriesDeAccion{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border: solid 3px rgb(227, 184, 255);
        padding: 20px;
    }

    .SeriesDeAccion img {
        width: 100px;
        height: 140px;
    }



    /* Aca empieza descripcion KB */

    .descripKB {
        display: flex;
        flex-direction: row;
    
    }

    .kissingbooth {
        color: green;
        font-weight: bold;
        font-size: medium;
    }

    .listKB {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;    
        padding: 20px;
        color: white;
        font-size: 13px;
    }

    .parrafodescripcion {
        color: white;
        font-size: 13px;
    }



    /* Ac치 empieza Series y Peliculas */

    .PopularesEniChill {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border: solid 3px rgb(227, 184, 255);
        padding: 20px;
    }

    .PopularesEniChill img {
        width: 100px;
        height: 140px;
    }

    .Tendencias {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border: solid 3px rgb(227, 184, 255);
        padding: 20px;
    }

    .Tendencias img {
        width: 100px;
        height: 140px;
    }

    .NuevosLanzamientos {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border: solid 3px rgb(227, 184, 255);
        padding: 20px;
    }

    .NuevosLanzamientos img {
        width: 100px;
        height: 140px;
    }

    .Documentales {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border: solid 3px rgb(227, 184, 255);
        padding: 20px;
    }

    .Documentales img {
        width: 100px;
        height: 140px;
    }

    .FavoritosDeSiempre {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border: solid 3px rgb(227, 184, 255);
        padding: 20px;
    }

    .FavoritosDeSiempre img {
        width: 100px;
        height: 140px;
    }



    /* Aca empieza Contactenos*/

    .contactenos {
        font-family: Arial;
        color: white;
        font-size: x-small;
    }

    .mensaje {
        block-size: 100px;
        width: 360px;
    }

    .cuadrado {
        block-size: 20px;
        width: 218px;
    }

    .enviar {
       font-size: 8px;
    }



    /* Aca empieza Terminos y condiciones */

    .terminos {
        font-family: Arial;
        color: white;
        opacity: normal;
    }

    .terminos1 {
        text-align: justify;
        font-size: 15px;
        line-height: 5px;
    }

    .terminos2 {
        text-align: justify;
        font-size: 10px;
        line-height: 13px;
    }

    .terminos3 li{
        text-align: justify;
        font-size: 9px;
        line-height: 13px;
    }



    /* Aca empieza Ayuda */

    .preguntasfrecuentes {
        display: flex;
        border: solid 2px rgb(227, 184, 255); 
        padding: 10px;
        align-items: center;
        font-size: x-small;
        color: white;
        justify-content: flex-start;
        width: 49%;
        height: 5px;
    }

    .preguntas ul{
    list-style-type: square; 
    font-family: Arial;
    color: white;
    opacity: normal;
    font-size: x-small;
    }

}






















@media only screen and (max-width: 768px) {
   


}








/*
.encabezado .logo {
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 60px;
}

.menu ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 300px;
}

.encabezado .menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-style: inherit;
    font-stretch: semi-expanded;
    font-size: 20px;
    font-weight: bolder;
    background-color: rgb(191, 101, 243);
    font-family: 'Arial Narrow Bold';
    color: white;
    height: 130px;
    align-items: center;
    padding: 0%;
}





media


.encabezado .logo {
        list-style: none;
        display: flex;
        flex-direction: row;
        width: 20px;
    }

    .menu ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 300px;
    }
    
    .encabezado .menu {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-style: inherit;
        font-stretch: semi-expanded;
        font-size: 20px;
        font-weight: bolder;
        background-color: rgb(191, 101, 243);
        font-family: 'Arial Narrow Bold';
        color: white;
        height: 130px;
        align-items: center;
        padding: 0%;
    }
*/