* {
    box-sizing: border-box;
}

body {
    background-color: rgb(20, 20, 20);
}

.logo img {
    width: 100px;
}

.encabezado ul#ul-encabezado-1 {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-style: inherit;
    font-stretch: semi-expanded;
    font-size: 20px;
    font-weight: bolder;
    /* background-color: rgb(191, 101, 243); */
    background-color: #18171c;
    font-family: 'Arial Narrow Bold';
    height: 130px;
    align-items: center;
    padding: 0%;
}

.encabezado {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
}

.dropdown {
    overflow-x: hidden;
    z-index: 2;
    padding: 0;
    margin: 0;
    top: 8.5rem;
    left: 0;
    font-size: 14px;
}

.uk-navbar-item,
.uk-navbar-nav>li>a,
.uk-navbar-toggle {
    min-height: 0px;
}

#bajar {
    padding-top: 75px;
}

#bajar1 {
    padding-top: 45px;
}

#DETALLES {
    padding-top: 120px;
    background-color: black;

}

#REVIEWS {
    margin: 0px;
    width: 100%;
    padding: 30px;
    background-color: black;
    padding-top: 0px;

}

#tituloReviews {
    color: white !important;
    padding-bottom: 5px;
}

#parrafoReviews {
    display: flex;
    justify-content: center;
}

.navbar {
    display: block;
    align-items: flex-end !important;
}

a:hover {
    color: #8f8f8f;

}

.uk-width-4-5 {
    width: 100%;
}

canvas img video {
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
}

.uk-nav {
    padding-right: 0px;
    padding-left: 0px;
    float: left;
    padding-bottom: 0px;
    margin: 15px 0px;
    width: 100%;
    padding-top: 0px;
    list-style-type: none;
}

.uk-nav li {
    display: inline;
    padding-left: 2px;
    float: left;
    padding-bottom: 2px;
    width: 30%;
    padding-top: 2px;
}

ul#menugeneros.uk-nav.uk-dropdown-nav {
    width: 700px;
}

.titulos {
    display: flex;
    font-style: bold;
    color: white;
    /*background-color: rgb(227, 184, 255);*/
    font-family: montserrat;
    /* color: rgb(41, 39, 39); */
    padding-top: 10px;
    font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.25vw;
    font-size: 1.4vw;
    font-weight: 700;
    padding-left: 10px;
}

.titulos1 {
    display: flex;
    font-style: bold;
    color: white;
    /*background-color: rgb(227, 184, 255);*/
    font-family: montserrat;
    /* color: rgb(41, 39, 39); */
    font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.25vw;
    font-size: 1.4vw;
    font-weight: 700;
    padding-top: 20px;
    padding-left: 10px;
}

.titulos2 {
    display: flex;
    font-style: bold;
    color: white;
    /*background-color: rgb(227, 184, 255);*/
    font-family: montserrat;
    /* color: rgb(41, 39, 39); */
    padding: 10PX;
    font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.25vw;
    font-size: 1.4vw;
    font-weight: 700;
    padding-top: 150px;
    padding-left: 10px;
}

.titulos3 {
    display: flex;
    font-style: bold;
    color: white;
    /*background-color: rgb(227, 184, 255);*/
    font-family: montserrat;
    /* color: rgb(41, 39, 39); */
    padding-top: 10px;
    font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.25vw;
    font-size: 1.4vw;
    font-weight: 700;
    padding-top: 100px;
    padding-left: 10px;
}

.button {
    width: 20px;
}

.PeliculasMasRecientes li {
    width: auto;
}

.PeliculasMasRecientes img {
    float: left;
    margin: 0px;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -ms-transition: margin 0.5s ease-out;
    transition: margin 0.5s ease-out;
}

.PeliculasMasRecientes img:hover {
    margin-top: 10px;

}

.PeliculasMasVistas li {
    width: auto;
}

.PeliculasMasVistas img {
    float: left;
    margin: 0px;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -ms-transition: margin 0.5s ease-out;
    transition: margin 0.5s ease-out;
}

.PeliculasMasVistas img:hover {
    margin-top: 10px;

}

.SeriesMasRecientes li {
    width: auto;
}

.SeriesMasRecientes img {
    float: left;
    margin: 0px;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -ms-transition: margin 0.5s ease-out;
    transition: margin 0.5s ease-out;
}

.SeriesMasRecientes img:hover {
    margin-top: 10px;

}

.SeriesMasVistas li {
    width: auto;
}

.SeriesMasVistas img {
    float: left;
    margin: 0px;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -ms-transition: margin 0.5s ease-out;
    transition: margin 0.5s ease-out;
}

.SeriesMasVistas img:hover {
    margin-top: 10px;

}

.PopularesEniChill li {
    width: auto;
}

.PopularesEniChill img {
    float: left;
    margin: 0px;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -ms-transition: margin 0.5s ease-out;
    transition: margin 0.5s ease-out;
}

.PopularesEniChill img:hover {
    margin-top: 10px;

}

.Tendencias li {
    width: auto;
}

.Tendencias img {
    float: left;
    margin: 0px;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -ms-transition: margin 0.5s ease-out;
    transition: margin 0.5s ease-out;
}

.Tendencias img:hover {
    margin-top: 10px;

}

.NuevosLanzamientos li {
    width: auto;
}

.NuevosLanzamientos img {
    float: left;
    margin: 0px;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -ms-transition: margin 0.5s ease-out;
    transition: margin 0.5s ease-out;
}

.NuevosLanzamientos img:hover {
    margin-top: 10px;

}

.Documentales li {
    width: auto;
}

.Documentales img {
    float: left;
    margin: 0px;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -ms-transition: margin 0.5s ease-out;
    transition: margin 0.5s ease-out;
}

.Documentales img:hover {
    margin-top: 10px;

}

.FavoritosDeSiempre li {
    width: auto;
}

.FavoritosDeSiempre img {
    float: left;
    margin: 0px;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -ms-transition: margin 0.5s ease-out;
    transition: margin 0.5s ease-out;
}

.FavoritosDeSiempre img:hover {
    margin-top: 10px;

}

.accion li {
    height: 350PX;
    width: 250PX;
}

.accion img {
    float: left;
    margin: 0px;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -ms-transition: margin 0.5s ease-out;
    transition: margin 0.5s ease-out;
}

.accion img:hover {
    margin-top: 10px;

}

.comedia li {
    height: 350PX;
    width: 250PX;
}

.comedia img {
    float: left;
    margin: 0px;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -ms-transition: margin 0.5s ease-out;
    transition: margin 0.5s ease-out;
}

.comedia img:hover {
    margin-top: 10px;

}

.drama li {
    height: 350PX;
    width: 250PX;
}

.drama img {
    float: left;
    margin: 0px;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -ms-transition: margin 0.5s ease-out;
    transition: margin 0.5s ease-out;
}

.drama img:hover {
    margin-top: 10px;

}

.misterio li {
    height: 350PX;
    width: 250PX;
}

.misterio img {
    float: left;
    margin: 0px;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -ms-transition: margin 0.5s ease-out;
    transition: margin 0.5s ease-out;
}

.misterio img:hover {
    margin-top: 10px;

}

.romance li {
    height: 350PX;
    width: 250PX;
}

.romance img {
    float: left;
    margin: 0px;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -ms-transition: margin 0.5s ease-out;
    transition: margin 0.5s ease-out;
}

.romance img:hover {
    margin-top: 10px;

}


.tituloFavoritos {
    padding-top: 120px;
    display: flex;
    color: white;
    font-style: bold;
    line-height: 1.25vw;
    font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    ;
    font-size: 38px;
    font-weight: 700;
    white-space: nowrap;
    padding-left: 10px;
}

.favsVacio {
    padding-left: 10px;
}

.rectangulo a {
    display: inline-block;
    position: relative;
}

.rectangulo-div-li>div {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    padding: 10px;
    margin: 0;
}

.rectangulo {
    opacity: 0;
}

.rectangulo:hover {
    opacity: 1;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    -ms-transition: opacity 500ms;
    transition: opacity 500ms;
}



.tituloGeneros {
    display: flex;
    color: white;
    font-style: bold;
    line-height: 1.25vw;
    font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    ;
    font-size: 38px;
    font-weight: 700;
    white-space: nowrap;
    padding-left: 10px;
    padding-top: 120px;
}



.terminos1 {
    text-align: justify;
    font-size: 30px;
    line-height: 8px;
    color: white;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 5px;


}

.terminos4 {
    text-align: justify;
    font-size: 30px;
    line-height: 8px;
    color: white;
    margin-bottom: 200px;


}

.pregunta {
    color: rgba(255, 255, 255, 0.63);
}

.respuesta {
    color: white;
}

.boton {
    display: flex;
    align-items: center;
}

#eliminar {
    display: none;
    background-color: black;
    height: 40px;
}

#boton li {
    padding-left: 18px;
    padding-top: 7px;

}

#boton {
    background-color: black;
    height: 40px;
}

.resultados {
    width: 350px;

}

.loader {
    color: white !important;
    display: flex;
    justify-content: center;
}






















@media (min-width: 960px) {
    .uk-child-width-1-2\@m>* {
        width: auto;
    }
}



/* MEDIA QUERIES */

@media only screen and (max-width: 768px) {
    * {
        box-sizing: border-box;
    }

    body {
        background-color: rgb(20, 20, 20);
    }

    .logo img {
        width: 100px;
    }

    .encabezado ul#ul-encabezado-1 {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-style: inherit;
        font-stretch: semi-expanded;
        font-size: 15px;
        font-weight: bolder;
        /* background-color: rgb(191, 101, 243); */
        background-color: #18171c;
        font-family: 'Arial Narrow Bold';
        height: 100px;
        align-items: center;
        padding: 0%;
    }

    .encabezado {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
    }

    .dropdown {
        overflow-x: hidden;
        z-index: 2;
        padding: 0;
        margin: 0;
        top: 8.5rem;
        left: 0;
        font-size: 14px;
    }

    .uk-navbar-item,
    .uk-navbar-nav>li>a,
    .uk-navbar-toggle {
        min-height: 0px;
    }

    #bajar {
        padding-top: 75px;
    }

    #bajar1 {
        padding-top: 45px;
    }

    #DETALLES {
        padding-top: 120px;
        background-color: black;
    }

    #REVIEWS {
        margin: 0px;
        width: 100%;
        padding: 30px;
        background-color: black;
        padding-top: 0px;
    }

    #tituloReviews {
        color: white !important;
        padding-bottom: 5px;
    }

    #parrafoReviews {
        display: flex;
        justify-content: center;
    }

    .navbar {
        display: block;
        align-items: flex-end !important;
    }

    a:hover {
        color: #8f8f8f;

    }

    .uk-width-4-5 {
        width: 100%;
    }

    canvas img video {
        max-width: 100%;
        height: auto;
        box-sizing: border-box;
    }

    .uk-nav {
        padding-right: 0px;
        padding-left: 0px;
        float: left;
        padding-bottom: 0px;
        margin: 15px 0px;
        width: 100%;
        padding-top: 0px;
        list-style-type: none;
    }

    .uk-nav li {
        display: inline;
        padding-left: 2px;
        float: left;
        padding-bottom: 2px;
        width: 30%;
        padding-top: 2px;
    }

    ul#menugeneros.uk-nav.uk-dropdown-nav {
        width: 700px;
    }

    .titulos {
        display: flex;
        font-style: bold;
        color: white;

        font-family: montserrat;
        /* color: rgb(41, 39, 39); */
        font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        line-height: 1.25vw;
        font-size: medium;
        font-weight: 700;
        padding-left: 10px;
    }

    .titulos1 {
        display: flex;
        font-style: bold;
        color: white;

        font-family: montserrat;
        /* color: rgb(41, 39, 39); */
        font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 1.4vw;
        line-height: 1.25vw;
        font-weight: 700;
        padding-left: 10px;
    }

    .titulos2 {
        display: flex;
        font-style: bold;
        color: white;

        font-family: montserrat;
        /* color: rgb(41, 39, 39); */
        padding: 10PX;
        font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        line-height: 1.25vw;
        font-size: 1.4vw;
        font-weight: 700;
        padding-top: 150px;
        padding-left: 10px;
    }

    .titulos3 {
        display: flex;
        font-style: bold;
        color: white;

        font-family: montserrat;

        font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        line-height: 1.25vw;
        font-size: medium;
        font-weight: 700;
        padding-left: 10px;
    }

    h2.titulos {
        padding-top: 0px;
    }

    h2.titulos1 {
        font-size: medium;
        padding-left: 10px;
        padding-top: 0px;
    }

    h2.titulos2 {
        font-size: medium;
        padding-top: 130px;
    }

    h2.titulos3 {
        font-size: medium;
        padding: 0px;
    }

    .button {
        width: 20px;
    }

    form.uk-search.uk-search-default {
        width: 40px;
        height: 40px;
    }

    a#iniciarSesion.uk-button.uk-button-default {
        padding: 0px;
        width: 60px;
        height: 40px;
        font-size: 10px;
    }

    .uk-button {
        line-height: 13px;
    }

    .PeliculasMasRecientes li {
        width: auto;
    }

    .PeliculasMasRecientes img {
        float: left;
        margin: 0px;
        -webkit-transition: margin 0.5s ease-out;
        -moz-transition: margin 0.5s ease-out;
        -ms-transition: margin 0.5s ease-out;
        transition: margin 0.5s ease-out;
        width: 200px;
        height: 250px;
    }

    .PeliculasMasRecientes img:hover {
        margin-top: 10px;

    }

    .PeliculasMasVistas img {
        float: left;
        margin: 0px;
        -webkit-transition: margin 0.5s ease-out;
        -moz-transition: margin 0.5s ease-out;
        -ms-transition: margin 0.5s ease-out;
        transition: margin 0.5s ease-out;
        width: 200px;
        height: 250px;
    }

    .SeriesMasRecientes img {
        float: left;
        margin: 0px;
        -webkit-transition: margin 0.5s ease-out;
        -moz-transition: margin 0.5s ease-out;
        -ms-transition: margin 0.5s ease-out;
        transition: margin 0.5s ease-out;
        width: 200px;
        height: 250px;
    }

    .SeriesMasVistas img {
        float: left;
        margin: 0px;
        -webkit-transition: margin 0.5s ease-out;
        -moz-transition: margin 0.5s ease-out;
        -ms-transition: margin 0.5s ease-out;
        transition: margin 0.5s ease-out;
        width: 200px;
        height: 250px;
    }

    .tituloFavoritos {
        padding-top: 100px;
        display: flex;
        color: white;
        font-style: bold;
        line-height: 1.25vw;
        font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        ;
        font-size: 38px;
        font-weight: 700;
        white-space: nowrap;
        padding-left: 10px;
    }

    .rectangulo a {
        display: inline-block;
        position: relative;
    }

    .rectangulo-div-li>div {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        padding: 10px;
        margin: 0;
    }

    .rectangulo {
        opacity: 0;
    }

    .rectangulo:hover {
        opacity: 1;
        -webkit-transition: opacity 500ms;
        -moz-transition: opacity 500ms;
        -o-transition: opacity 500ms;
        -ms-transition: opacity 500ms;
        transition: opacity 500ms;
    }

    .PeliculasMasVistas li {
        width: auto;
    }

    .SeriesMasRecientes li {
        width: auto;
    }

    .SeriesMasVistas li {
        width: auto;
    }

    .PopularesEniChill li {
        width: 250px;
    }

    .Tendencias li {
        width: 250px;
    }

    .NuevosLanzamientos li {
        width: 250px;
    }

    .Documentales li {
        width: 250px;
    }

    .FavoritosDeSiempre li {
        width: 250px;
    }

    .tituloGeneros {
        display: flex;
        color: white;
        font-style: bold;
        font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        ;
        font-size: 20px;
        font-weight: 700;
        white-space: nowrap;
        padding-left: 10px;
        padding-top: 80px;
    }

    .accion li {
        width: 250px;
    }

    .comedia li {
        width: 250px;
    }

    .drama li {
        width: 250px;
    }

    .misterio li {
        width: 250px;
    }

    .romance li {
        width: 250px;
        margin-bottom: 30px;

    }

    .terminos1 {
        text-align: justify;
        font-size: 30px;
        line-height: 8px;
        color: white;
        margin-top: 20px;
        margin-bottom: 30px;
        margin-left: 5px;


    }

    .terminos4 {
        text-align: justify;
        font-size: 30px;
        line-height: 8px;
        color: white;
        margin-bottom: 200px;


    }

    .pregunta {
        color: rgba(255, 255, 255, 0.63);
    }

    .respuesta {
        color: white;
    }

    .boton {
        display: flex;
        align-items: center;
    }

    #eliminar {
        display: none;
        background-color: black;
        height: 40px;
    }

    #boton li {
        padding-left: 18px;
        padding-top: 7px;

    }

    #boton {
        background-color: black;
        height: 40px;
    }

    .resultados {
        width: 350px;

    }

    .loader {
        color: white !important;
        display: flex;
        justify-content: center;
    }

    div.redes {
        display: flex;
        justify-content: center;
        justify-content: space-around;
        list-style: none;


    }

    footer li {
        display: flex;
        justify-content: center;
        list-style: none;
    }

    h6.nombres {
        display: flex;
        justify-content: center;
    }

    footer.fondo img {
        width: 100px;
    }

    h1.tituloFavoritos {
        font-size: 40px;
    }
}










































@media only screen and (max-width: 420px) {

    * {
        box-sizing: border-box;
    }

    body {
        background-color: rgb(20, 20, 20);
    }

    .logo img {
        width: 100px;
    }

    .encabezado ul#ul-encabezado-1 {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-style: inherit;
        font-stretch: semi-expanded;
        font-size: 10px;
        font-weight: bolder;
        /* background-color: rgb(191, 101, 243); */
        background-color: #18171c;
        font-family: 'Arial Narrow Bold';
        height: 100px;
        align-items: center;
        padding: 0%;

    }

    .encabezado {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
    }

    .dropdown {
        overflow-x: hidden;
        z-index: 2;
        padding: 0;
        margin: 0;
        top: 8.5rem;
        left: 0;
        font-size: 14px;
    }

    .uk-navbar-item,
    .uk-navbar-nav>li>a,
    .uk-navbar-toggle {
        min-height: 0px;
    }

    #bajar {
        padding-top: 75px;
    }

    #bajar1 {
        padding-top: 45px;
    }

    #DETALLES {
        padding-top: 120px;
        background-color: black;
    }

    #REVIEWS {
        margin: 0px;
        width: 100%;
        padding: 30px;
        background-color: black;
        padding-top: 0px;
    }

    #tituloReviews {
        color: white !important;
        padding-bottom: 5px;
    }

    #parrafoReviews {
        display: flex;
        justify-content: center;
    }

    .navbar {
        display: block;
        align-items: flex-end !important;
    }

    a:hover {
        color: #8f8f8f;

    }

    .uk-width-4-5 {
        width: 100%;
    }


    .uk-nav {
        padding-right: 0px;
        padding-left: 0px;
        float: left;
        padding-bottom: 0px;
        margin: 15px 0px;
        width: 100%;
        padding-top: 0px;
        list-style-type: none;
    }

    .uk-nav li {
        display: inline;
        padding-left: 2px;
        float: left;
        padding-bottom: 2px;
        width: 30%;
        padding-top: 2px;
    }

    ul#menugeneros.uk-nav.uk-dropdown-nav {
        width: 700px;
    }

    .titulos {
        display: flex;
        font-style: bold;
        color: white;
        font-family: montserrat;
        /* color: rgb(41, 39, 39); */
        font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        line-height: 1.25vw;
        font-size: medium;
        font-weight: 700;
        padding-left: 10px;
    }

    .titulos1 {
        display: flex;
        font-style: bold;
        color: white;
        font-family: montserrat;
        /* color: rgb(41, 39, 39); */
        font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 1.4vw;
        line-height: 1.25vw;
        font-weight: 700;
        padding-left: 10px;
    }

    .titulos2 {
        display: flex;
        font-style: bold;
        color: white;
        font-family: montserrat;
        /* color: rgb(41, 39, 39); */
        padding: 10PX;
        font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        line-height: 1.25vw;
        font-size: 1.4vw;
        font-weight: 700;
        padding-top: 150px;
        padding-left: 10px;
    }

    .titulos3 {
        display: flex;
        font-style: bold;
        color: white;
        font-family: montserrat;
        /* color: rgb(41, 39, 39); */
        font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        line-height: 1.25vw;
        font-size: medium;
        font-weight: 700;
        padding-left: 10px;
    }

    h2.titulos {
        padding-top: 0px;
    }

    h2.titulos1 {
        font-size: medium;
        padding-left: 10px;
        padding-top: 0px;
    }

    h2.titulos2 {
        font-size: medium;
        padding-top: 130px;
    }

    h2.titulos3 {
        font-size: medium;
        padding: 0px;
    }

    .button {
        width: 20px;
    }

    form.uk-search.uk-search-default {
        width: 40px;
        height: 40px;
    }

    a#iniciarSesion.uk-button.uk-button-default {
        padding: 0px;
        width: 60px;
        height: 40px;
        font-size: 10px;
    }

    .uk-button {
        line-height: 13px;
    }

    .PeliculasMasRecientes li {
        width: auto;
    }

    .PeliculasMasRecientes img {
        float: left;
        margin: 0px;
        -webkit-transition: margin 0.5s ease-out;
        -moz-transition: margin 0.5s ease-out;
        -ms-transition: margin 0.5s ease-out;
        transition: margin 0.5s ease-out;
        width: 200px;
        height: 250px;
    }

    .PeliculasMasRecientes img:hover {
        margin-top: 10px;

    }

    .PeliculasMasVistas img {
        float: left;
        margin: 0px;
        -webkit-transition: margin 0.5s ease-out;
        -moz-transition: margin 0.5s ease-out;
        -ms-transition: margin 0.5s ease-out;
        transition: margin 0.5s ease-out;
        width: 200px;
        height: 250px;
    }

    .SeriesMasRecientes img {
        float: left;
        margin: 0px;
        -webkit-transition: margin 0.5s ease-out;
        -moz-transition: margin 0.5s ease-out;
        -ms-transition: margin 0.5s ease-out;
        transition: margin 0.5s ease-out;
        width: 200px;
        height: 250px;
    }

    .SeriesMasVistas img {
        float: left;
        margin: 0px;
        -webkit-transition: margin 0.5s ease-out;
        -moz-transition: margin 0.5s ease-out;
        -ms-transition: margin 0.5s ease-out;
        transition: margin 0.5s ease-out;
        width: 200px;
        height: 250px;
    }

    .tituloFavoritos {
        padding-top: 100px;
        display: flex;
        color: white;
        font-style: bold;
        line-height: 1.25vw;
        font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        ;
        font-size: 38px;
        font-weight: 700;
        white-space: nowrap;
        padding-left: 10px;
    }

    .rectangulo a {
        display: inline-block;
        position: relative;
    }

    .rectangulo-div-li>div {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        padding: 10px;
        margin: 0;
    }

    .rectangulo {
        opacity: 0;
    }

    .rectangulo:hover {
        opacity: 1;
        -webkit-transition: opacity 500ms;
        -moz-transition: opacity 500ms;
        -o-transition: opacity 500ms;
        -ms-transition: opacity 500ms;
        transition: opacity 500ms;
    }

    .PeliculasMasVistas li {
        width: auto;
    }

    .SeriesMasRecientes li {
        width: auto;
    }

    .SeriesMasVistas li {
        width: auto;
    }

    .PopularesEniChill li {
        width: 250px;
    }

    .Tendencias li {
        width: 250px;
    }

    .NuevosLanzamientos li {
        width: 250px;
    }

    .Documentales li {
        width: 250px;
    }

    .FavoritosDeSiempre li {
        width: 250px;
    }

    .tituloGeneros {
        display: flex;
        color: white;
        font-style: bold;
        font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        ;
        font-size: 20px;
        font-weight: 700;
        white-space: nowrap;
        padding-left: 10px;
        padding-top: 80px;
    }

    .accion li {
        width: 250px;
    }

    .comedia li {
        width: 250px;
    }

    .drama li {
        width: 250px;
    }

    .misterio li {
        width: 250px;
    }

    .romance li {
        width: 250px;
        margin-bottom: 30px;

    }

    .terminos1 {
        text-align: justify;
        font-size: 30px;
        line-height: 8px;
        color: white;
        margin-top: 20px;
        margin-bottom: 30px;
        margin-left: 5px;


    }

    .terminos4 {
        text-align: justify;
        font-size: 30px;
        line-height: 8px;
        color: white;
        margin-bottom: 200px;


    }

    .pregunta {
        color: rgba(255, 255, 255, 0.63);
    }

    .respuesta {
        color: white;
    }

    .boton {
        display: flex;
        align-items: center;
    }

    #eliminar {
        display: none;
        background-color: black;
        height: 40px;
    }

    #boton li {
        padding-left: 18px;
        padding-top: 7px;

    }

    #boton {
        background-color: black;
        height: 40px;
    }

    .resultados {
        width: 350px;

    }

    .loader {
        color: white !important;
        display: flex;
        justify-content: center;
    }

    div.redes {
        display: flex;
        justify-content: center;
        justify-content: space-around;
        list-style: none;


    }

    footer li {
        display: flex;
        justify-content: center;
        list-style: none;
    }

    h6.nombres {
        display: flex;
        justify-content: center;
    }

    footer.fondo img {
        width: 100px;
    }

    h1.tituloFavoritos {
        font-size: 40px;
    }





}